$body: (
    letter: black,
    back-color: rgb(206, 206, 206),
    back-size: cover,
);

$productos:(
    letter:rgb(12, 12, 12),
    sombra:rgb(39, 39, 39),
    transform: uppercase,
    borde:5px double black,
);