@import'list';


@mixin icons {
    width: 30px;
    height: 30px;
    border-radius: 70px;
}

@mixin tipografiaContacto($transform,$border) {
    font-family: 'Lobster', 'cursive';
    text-align: center;
    font-size: 60px;
    color: nth($colores, 2);
    padding: 10px;
    text-transform: $transform;
    border: $border;
}

@mixin tipografiaInformacion($tamaño){
    color: nth($colores, 2);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: $tamaño;
    font-weight: 500;
    text-decoration: none;
}

@mixin tipografiaLogo($font) {
    font-family: 'Krona One', sans-serif;
    font-size: $font;
    font-weight:bolder;
    text-align: center;
    font-style: oblique;
    letter-spacing: 10px;
    text-transform:uppercase;
}

@mixin propiedadBackground($height) {
    background-attachment:local;
    height: $height;
    background-repeat: no-repeat;
    box-shadow: 15px 10px 5px black;
    background-position: center;
    background-size:cover;
}

@mixin tipografiaFrase($font) {
    font-family: 'Pattaya', sans-serif;
    font-size: $font;
    width: 80%;
    font-weight:bolder;
    text-align:center;
}

@mixin tipografiaTitulo($font, $bold) {
    font-family: 'Merriweather', serif;
    font-size: $font;
    font-weight: $bold;
    text-align: center;
}