@import'../base/mixin';
@import'../base/condicion';
@import'../base/operadores';

/* Edit de contenido de nosotros.html */

.tituloQuienesSomos{
    @include tipografiaTitulo($size +10, 800);
    -webkit-text-stroke: 1px blanchedalmond;
    background-color: nth($colores, 8 );
}

.parrafoQuienesSomos{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: ($size / 2)-5;
    text-align: justify;
    -webkit-text-stroke: 0.3px blanchedalmond;
}

.tituloAbout{
    @include tipografiaTitulo(80px, 600); 
    color: nth($colores, 2);
    -webkit-text-stroke: 1px nth($colores, 4 );
}
.parrafoAbout{
    @include tipografiaTitulo(($size / 2), 600);
    color: nth($colores, 2);
    -webkit-text-stroke: 1px nth($colores, 4 );
}


.imagesAbout{
    height: $ancho +100;
    opacity: 0.55;
}
