/* Edicion de Redes sociales que se encuentran en fixed*/

.iconosDeRedesSociales{
    position: fixed;
    right: 0;
    top: 35%;
}

.fixed__icons{
    width: 40px;
    height: 40px;
    border-radius: 70px;
}

